@font-face {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Antonio/Antonio-Regular/Antonio-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Antonio/Antonio-SemiBold/Antonio-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Antonio/Antonio-Bold/Antonio-Bold.woff2") format("woff2");
}
