@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Archivo/Archivo-Regular/Archivo-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Archivo/Archivo-Medium/Archivo-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Archivo/Archivo-MediumItalic/Archivo-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Archivo/Archivo-SemiBold/Archivo-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Archivo/Archivo-Bold/Archivo-Bold.woff2") format("woff2");
}
